extends layout

block head
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/index.js')

block content
  h1= title
  p
    a(href="/csp-demo" target="_blank")= 'Open CSP violation demo page in a new tab'
  div(id="container")
